html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
input::-moz-focus-inner { border: 0; padding: 0; }

/*  Primary styles  */
html {
	height: 100%;
}
body {
	background-image: url(bg_quad.png),
		url(bg_down.png),
		url(bg_up.png);
	background-position: top left, bottom center, top center;
	background-repeat: repeat, repeat-x, repeat-x;
	background-attachment: fixed;
	height: 100%;
color:#ffffff;
a {
color:#fffb96;
}
}
	#background_image, #background_image img {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
	#pattern {
		height: 100%;
		width: 100%;	
		display: table;
	}
		.no-multiplebgs #pattern, .active_bg_image #pattern {
			background: url(bg_quad.png) repeat;	
		}
	#gradient {
		height: 100%;
		width: 100%;
		display: table-cell;
	}
		.no-multiplebgs #gradient, .active_bg_image #gradient {
			background: url(bg_up.png) repeat-x;
		}
table.evenementsgestion tr td{
color:#000000;
}
hr{
color: #00c0ff;
background-color: #00c0ff;
height: 1px;
border: 1;
}
/* messages system */
#messages { margin-bottom: 20px; }
/* infos */
#messages div.infos ul { color: #00c; background: #C3D2E5 url(infos.png) 4px center no-repeat; border-top: 3px solid #7a9dde; border-bottom: 3px solid #7a9dde; margin:0px; padding-left: 40px; text-indent:0px;}
/* error */
#messages div.error ul { color: #c00; background: #E6C0C0 url(error.png) 4px center no-repeat; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B; margin:0px; padding-left: 40px; text-indent:0px;}
/* alert */
#messages div.alert ul { color: #c00; background: #EFE7B8 url(alert.png) 4px center no-repeat; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E; margin:0px; padding-left: 40px; text-indent:0px;}
/* ok */
#messages div.ok ul { color: #0c0; background: #b8efc3 url(valider.png) 4px center no-repeat; border-top: 3px solid #81f07e; border-bottom: 3px solid #81f07e; margin:0px; padding-left: 40px; text-indent:0px;}